* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #000;
}

.main-h1 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.3px;
    color: #e4c7c7;
    font-size: 24px;
    margin: 10px auto;
}

.main {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.test {
    height: 80vh;
    margin: 10px auto;
    width: 90vw;   
}

.test:focus {
    outline: none !important;
}

.userInput {
    outline: 0
}
.userInput:webkit-direct-focus {
    outline: 0 !important;
}

.play-button {

    cursor: pointer;
    
}

.play-button__icon  {
    font-size: 50px;

}

.bottom-bar {
    width: 85%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.logo {
    width: 200px;
    height: auto;
}

.change-button {
    cursor: pointer;
    font-size: 50px;
}

label{
    font-size: 1.6rem;
    margin: 10px auto;
    text-align: left;
    color: white;
}

#modelSource{
    height: 2rem;
    width: 50%;
    margin: 0px auto;
    font-size: 1.6rem;
    padding: 1rem;
}

.source-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}


#modelSourceApply{
    margin-top: 1rem;
    width: 20%;
    height: 3rem;
    background-color: aliceblue;
    margin-right: auto;
    margin-left: auto;
}

#model-viewer-space {
    border: 1px solid white;
    overflow: hidden;
}